
<table class="a">
<tr><th>First name</th><th>Last name</th><th>contact</th><th>gender</th><th>email</th><th>eid</th><th>password</th><th>confirm password</th></tr>
<tr>
<td>{{value.Fname}}</td>
<td>{{value.Lname}}</td>
<td>{{value.contact}}</td>
<td>{{value.gender}}</td>
<td>{{value.email}}</td>
<td>{{value.eid}}</td>
<td>{{value.password}}</td>
<td>{{value.cnfpassword}}</td>
</tr>
</table>


<button type="button" (click)="redirect()">edit</button>